{% extends 'base.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block body %}
  
<div>
	<nav class="relative px-4 py-4 flex items-center ">
		
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2  lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
			<li class="text-gray-300">
				|
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('app_home') }}">Home</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-emerald-600 font-bold">Subject</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('show_teachers') }}">Teachers</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('app_student') }}">Students</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="#"></a></li>
		</ul>

		<div x-data="{'darkMode': false}"x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))">
                    <div :class="{'dark': darkMode === true}"> 
                        <div class="flex justify-end items-center space-x-2 lg:ml-auto lg:mr-2 py-2 px-6 text-sm">
                            
                <span class="text-sm text-gray-800 dark:text-gray-400">Light</span>
                    <label for="toggle" class="w-9 h05 flex items-center bg-gray-300 rounded-full p-1 cursor-pointer duration-300 ease-in-out dark:bg-gray-700">
                        <div class="toggle-dot w-4 h-4 bg-white rounded-full shadow-md transform duration-300 ease-in-out dark:translate-x-3"> </div>             
                    </label>
                <span class="text-sm text-gray-400 dark:text-gray-50">Dark</span>
                    <input id="toggle" type="checkbox" class="hidden" :value="darkMode" @change="darkMode = !darkMode" />
                        </div>
                    </div>
                </div>
		
		<div class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 text-sm text-gray-400"><span>You are logged as </span><strong>{{ app.user.firstname }} {{ app.user.lastname }} | </strong> <a class="hidden lg:inline-block lg:ml-auto lg:mr-2 py-2 px-1 text-sm text-gray-400 hover:text-red-500" href="{{ path('app_logout') }}">Logout</a>
    
	</nav>

	<div class="py-3">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-6">
            <div class="bg-slate-400 overflow-hidden shadow-xl sm:rounded-lg">
                <div class="p-6 sm:px-20 bg-gray-100 dark:bg-gray-700 border border-gray-300  dark:border-gray-700"><div class="text-base text-gray-400"><span><strong>Your subjects: </strong> </span></div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
