{% extends 'base.html.twig' %}

{% block title %}
	Teachers
{% endblock %}

{% block body %}
{% include "components/_header.html.twig" %}

<nav class="flex">
  <ol class="inline-flex items-center px-20">
    <li class="inline-flex items-center">
      <p class="inline-flex items-center text-sm font-medium text-gray-700 dark:text-gray-400">
		<span class="ml-1 text-sm font-medium text-gray-900 md:ml-2 dark:text-gray-100">
			<i class="fa-solid fa-house w-4 h-4 mr-2"></i>Teachers
		</span>
      </p>
    </li>
  </ol>
</nav>

	<div class="py-3">
		<div class="max-w-7xl mx-auto sm:px-6 lg:px-6">
			<div class="bg-slate-400 overflow-hidden shadow-xl">
				<div class="p-6 sm:px-20 bg-gray-100 dark:bg-gray-800 border border-gray-300  dark:border-gray-700">
					<div class="text-base text-gray-600 dark:text-gray-300">
						<span>
							<strong>Teacher list:
							</strong>
						</span>
					</div>
					<div class="max-w-7xl w-full mx-auto py-6 sm:px-6 lg:px-34">
						<div class="container mt-4">

							<div class="relative overflow-x-auto shadow-md">
								<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border border-gray-300 dark:border-gray-700">
									<thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-600 dark:text-gray-400">
										<tr>
											<th scope="col" class="px-6 py-3">
												<i class="fa-solid fa-sort"></i> {{ knp_pagination_sortable(users, 'Id', 'id') }}<i class="fa-solid fa-hashtag"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												<i class="fa-solid fa-sort"></i> {{ knp_pagination_sortable(users, 'Firstname', 'firstname') }}<i class="fa-solid fa-signature"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												<i class="fa-solid fa-sort"></i> {{ knp_pagination_sortable(users, 'Lastname', 'lastname') }}<i class="fa-solid fa-signature"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												Role <i class="fa-solid fa-user-tie"></i>
											</th>
										</tr>
									</thead>
									<tbody>
										{%  for user in users %}
											<tr class="bg-white border-b dark:bg-slate-800 dark:border-gray-700">

												<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
													{{ user.id }}
												</th>
												<td class="px-6 py-4">
													{{ user.firstname }}
												</td>
												<td class="px-6 py-4">
													{{ user.lastname }}
												</td>
												<td class="px-6 py-4">
													<span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-emerald-300 dark:bg-emerald-700 dark:text-white text-gray-900 uppercase">
														teacher
													</span>
												</td>
									
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="navigation flex justify-center ">
						{{ knp_pagination_render(users) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
