{% extends 'base.html.twig' %}

{% block title %}
	Edit grade
{% endblock %}

{% block body %}
{% include "components/_header.html.twig" %}

	<div class="py-3">
		<div class="max-w-7xl mx-auto sm:px-6 lg:px-6">
			<div class="bg-slate-400 overflow-hidden shadow-xl">
				<div class="p-6 sm:px-20 bg-gray-100 dark:bg-gray-800 border border-gray-300  dark:border-gray-700">
					<div class="text-base text-gray-600 dark:text-gray-300">
						<span>
							<strong>Edit new grade</strong>
						</span>
					</div>
					<div class="max-w-7xl w-full mx-auto py-6 sm:px-6 lg:px-34">

						{{ form_start(form) }}

						<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white py-1 px-1">
							{{ form_label(form.student) }}
						</label>

						{{ form_widget(form.student, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'} }) }}

						<div class="text-xs text-red-600 dark:text-red-500">
							{{ form_errors(form.student) }}
						</div>

						<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white py-1 px-1">
							{{ form_label(form.subject) }}
						</label>

						{{ form_widget(form.subject, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'} }) }}

						<div class="text-xs text-red-600 dark:text-red-500">
							{{ form_errors(form.subject) }}
						</div>

						<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white py-1 px-1">
							{{ form_label(form.grade) }}
						</label>

						{{ form_widget(form.grade, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'} }) }}

						<div class="text-xs text-red-600 dark:text-red-500">
							{{ form_errors(form.grade) }}
						</div>

						<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white py-1 px-1">
							{{ form_label(form.description) }}
						</label>

						{{ form_widget(form.description, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'} }) }}

						<div class="text-xs text-red-600 dark:text-red-500">
							{{ form_errors(form.description) }}
						</div>

						<div class="container mt-4 space-y-6"></div>
						<div class="form-group group relative flex justify-center w-1/12 rounded-md border border-transparent bg-emerald-600 py-2 px-4 text-sm font-medium text-white hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2">
							{{ form_row(form.submit) }}
						</div>

						{{ form_end(form) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
