{% extends 'base.html.twig' %}

{% block title %}
	Show class
{% endblock %}

{% block body %}
{% include "components/_header.html.twig" %}

	<div class="py-3">
		<div class="max-w-7xl mx-auto sm:px-6 lg:px-6">
			<div class="bg-slate-400 overflow-hidden shadow-xl">
				<div class="p-6 sm:px-20 bg-gray-100 dark:bg-gray-800 border border-gray-300  dark:border-gray-700">
					<div class="text-base text-gray-600 dark:text-gray-300">
						<span>
							<strong>Student list:</strong>
						</span>
					</div>
					<div class="max-w-7xl w-full mx-auto py-6 sm:px-6 lg:px-34">
						<div class="container mt-4">

							<div class="relative overflow-x-auto shadow-md">
								<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border border-gray-300 dark:border-gray-700">
									<thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-600 dark:text-gray-400">
										<tr>
											<th scope="col" class="px-6 py-3">
												<i class="fa-solid fa-sort"></i> {{ knp_pagination_sortable(students, 'Id', 'id') }}<i class="fa-solid fa-hashtag"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												<i class="fa-solid fa-sort"></i> {{ knp_pagination_sortable(students, 'Firstname', 'firstname') }}<i class="fa-solid fa-signature"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												<i class="fa-solid fa-sort"></i> {{ knp_pagination_sortable(students, 'Lastname', 'lastname') }}<i class="fa-solid fa-signature"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												Classroom <i class="fa-solid fa-chalkboard-user"></i>
											</th>
											<th scope="col" class="px-6 py-3">
												Action <i class="fa-solid fa-ellipsis-vertical"></i>
											</th>
										</tr>
									</thead>
									<tbody>
										{%  for student in students %}
											<tr class="bg-white border-b dark:bg-slate-800 dark:border-gray-700">
												<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
													{{ student.id }}
												</th>
												<td class="px-6 py-4">
													{{ student.firstname }}
												</td>
												<td class="px-6 py-4">
													{{ student.lastname }}												
												</td>
												<td class="px-6 py-4">

													{% if student.classroom == '4' %}
														<span class="text-xs inline-block py-1 px-2.5 rounded-md leading-none text-center whitespace-nowrap align-baseline font-bold bg-cyan-400 dark:bg-cyan-700 dark:text-white text-gray-900">
															{{ student.classroom }}
														</span>
													{% elseif student.classroom == '5' %}
														<span class="text-xs inline-block py-1 px-2.5 rounded-md leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-400 dark:bg-blue-700 dark:text-white text-gray-900">
															{{ student.classroom }}
														</span>
													{% elseif student.classroom == '6' %}
														<span class="text-xs inline-block py-1 px-2.5 rounded-md leading-none text-center whitespace-nowrap align-baseline font-bold bg-violet-400 dark:bg-violet-700 dark:text-white text-gray-900">
															{{ student.classroom }}
														</span>
													{% elseif student.classroom == '7' %}
														<span class="text-xs inline-block py-1 px-2.5 rounded-md leading-none text-center whitespace-nowrap align-baseline font-bold bg-fuchsia-400 dark:bg-fuchsia-700 dark:text-white text-gray-900">
															{{ student.classroom }}
														</span>
													{% elseif student.classroom == '8' %}
														<span class="text-xs inline-block py-1 px-2.5 rounded-md leading-none text-center whitespace-nowrap align-baseline font-bold bg-rose-400 dark:bg-rose-700 dark:text-white text-gray-900">
															{{ student.classroom }}
														</span>
													{% endif %}

												</td>
												<td class="px-6 py-4">
													<a href="/subject/class/student/{{ student.id }}" class="font-medium text-blue-600 dark:text-blue-500">
														<i class="fa-solid fa-magnifying-glass"></i>
														View</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="navigation flex justify-center ">
						{{ knp_pagination_render(students) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
