{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="border border-gray-300 dark:border-gray-600 flex items-baseline flex-row text-gray-700 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 rounded-lg w-auto">
        {% if first is defined and current != first %}
            <span class="items-center border border-gray-300 dark:border-gray-700 bg-gray-200 dark:bg-gray-600 px-4 rounded-lg py-1 text-sm font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-500">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </span>
        {% endif %}

        {% if previous is defined %}
            <span class="items-center border border-gray-300 dark:border-gray-600 bg-gray-200 dark:bg-gray-600 px-4 rounded-lg py-1 text-sm font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-500">
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="items-center border border-gray-300 dark:border-gray-700 bg-gray-200 dark:bg-gray-600 px-4 rounded-lg py-1 text-sm font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-500">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
            {% else %}
                <span class="bg-violet-500 dark:bg-violet-600 text-white px-4 rounded-lg py-1 font-bold">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <span class="items-center border border-gray-300 dark:border-gray-700 bg-gray-200 dark:bg-gray-600 px-4 rounded-lg py-1 text-sm font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-500">
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
            </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="items-center border border-gray-300 dark:border-gray-700 bg-gray-200 dark:bg-gray-600 px-4 rounded-lg py-1 text-sm font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-500">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            </span>
        {% endif %}
        </div>
    </div>
{% endif %}